#include <windows.h>
#include "Parabola.h"

MyMenu MENU DISCARDABLE 
BEGIN
  MENUITEM "&Parabola", ID_PARABOLA
  MENUITEM "&Clear",   ID_CLEAR
  MENUITEM "&Exit",    ID_EXIT
END

MyDB DIALOG DISCARDABLE  0, 0, 186, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Parabola parameters"
FONT 8, "MS Sans Serif"
BEGIN
  DEFPUSHBUTTON   "OK",ID_OK,31,74,50,14
  PUSHBUTTON      "CANCEL",ID_CANCEL,104,74,50,14
  LTEXT           "Value of a:",ID_LABEL1,15,14,108,17
  LTEXT           "Limit of y:",ID_LABEL2,15,44,108,22
  EDITTEXT        ID_EB1,114,14,40,15,ES_AUTOHSCROLL
  EDITTEXT        ID_EB2,114,41,38,15,ES_AUTOHSCROLL
END
